<section class="grid place-items-center px-4 py-20">
  <div
    class="w-full max-w-4xl py-4 flex flex-col items-center relative before:absolute before:content-[''] before:w-full before:h-[120%] before:bg-amber-600 dark:before:bg-amber-400 before:opacity-20 before:blur-3xl before:rounded-full before:-z-10"
  >
    <h1
      class="text-4xl sm:text-5xl md:text-6xl font-bold text-balance mb-8 text-center"
    >
      The minimalist <span class="text-amber-500">folder-based</span> web framework
    </h1>
    <p
      class="text-xl md:text-2xl text-balance font-light text-center max-w-[90%] mb-8 opacity-75"
    >
      Swifti provides a simple and user-friendly way to create efficient APIs
      using folders.
    </p>
    <div class="flex items-center gap-4">
      <a
        class="bg-amber-500 text-zinc-50 hover:bg-amber-600 transition-[background-color] rounded-full px-6 h-12 sm:px-8 sm:h-14 grid place-items-center"
        href="/docs">Get Started</a
      >
      <code
        class="max-sm:hidden border-2 border-amber-300 bg-zinc-50 dark:bg-zinc-900 rounded h-14 flex items-center gap-2 px-4"
      >
        <span class="text-amber-500">></span> npm create swifti@latest</code
      >
    </div>
  </div>
</section>
