<section class="px-4 py-20">
  <div class="flex flex-col gap-12 items-center w-full max-w-4xl mx-auto">
    <img
      class="w-40"
      id="swifti-light-logo"
      src="/swifti-light.png"
      alt="swifti logo"
    />
    <img
      class="w-40"
      id="swifti-dark-logo"
      src="/swifti-dark.png"
      alt="swifti logo"
    />
    <h2 class="text-2xl sm:text-3xl md:text-4xl text-balance text-center">
      Start building with Swifti today
    </h2>
    <a
      class="bg-amber-500 w-min whitespace-nowrap text-zinc-50 hover:bg-amber-600 transition-[background-color] rounded-full px-6 h-12 sm:px-8 sm:h-14 grid place-items-center"
      href="/docs">Get Started</a
    >
  </div>
</section>
