---
import SocialIcon from "../navbar/social-icon.astro";
import DiscordIcon from "../icons/discord.astro";
import GithubIcon from "../icons/github.astro";
import {
  GithubLink,
  DiscordLink,
  LicenseLink,
  ContributorsLink,
} from "../../lib/consts";
import FooterLink from "./link.astro";
---

<footer
  class="absolute -bottom-36 sm:-bottom-32 md:-bottom-24 left-0 w-full border-t border-zinc-200 dark:border-zinc-800"
>
  <div
    class="flex justify-center md:justify-between gap-4 items-center px-4 h-32 sm:h-28 md:h-20 mx-auto max-w-4xl max-md:flex-col"
  >
    <ul class="flex items-center gap-4 flex-wrap max-md:justify-center">
      <li class="text-zinc-500">
        <FooterLink href={LicenseLink}>MIT License</FooterLink> &copy; 2024 <FooterLink
          href={ContributorsLink}
        >
          Swifti Contributors
        </FooterLink>
      </li>
    </ul>
    <ul class="flex items-center gap-4">
      <SocialIcon href={DiscordLink}>
        <DiscordIcon />
      </SocialIcon>
      <SocialIcon href={GithubLink}>
        <GithubIcon />
      </SocialIcon>
    </ul>
  </div>
</footer>
