---
import Navbar from "../components/navbar/index.astro";
import Footer from "../components/footer/index.astro";

interface Props {
  title: string;
  version?: string;
}

const { title, version } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="language" content="en" />
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="" />
    <meta name="author" content="Aoi-san <aoi.san@outlook.com>" />
    <meta
      name="description"
      content="Efficient and minimalist web framework based on folders and files. Create web applications using directories for the structure."
    />
    <meta
      name="keywords"
      content="web framework, folders and files, directory structure, minimalist, efficient, web applications, Node.js, TypeScript, JavaScript, open source, development, programming, server-side, client-side, backend, frontend, API, routing, middleware, templating, MVC, Model-View-Controller, RESTful, CRUD, database, ORM, authentication, authorization, security, testing, scalability, performance"
    />

    <meta property="og:title" content="Swifti Documentation" />
    <meta
      property="og:description"
      content="Efficient and minimalist web framework based on folders and files."
    />
    <meta
      property="og:image"
      content="https://swifti.vercel.app/swifti-dark.png"
    />
    <meta property="og:url" content="https://swifti.vercel.app/" />
    <meta property="og:type" content="website" />
    <meta
      name="twitter:card"
      content="https://swifti.vercel.app/swifti-dark.png"
    />
    <meta name="twitter:title" content="https://swifti.vercel.app/" />
    <meta
      name="twitter:description"
      content="Efficient and minimalist web framework based on folders and files."
    />
    <meta
      name="twitter:image"
      content="https://swifti.vercel.app/swifti-dark.png"
    />
    <meta name="twitter:url" content="https://swifti.vercel.app/" />
    <title>{title}</title>
  </head>
  <body
    class="relative min-h-screen mb-36 sm:mb-32 md:mb-24 bg-zinc-50 text-zinc-950 dark:bg-zinc-950 dark:text-zinc-50"
  >
    <Navbar version={version} />
    <slot />
    <Footer />
  </body>
</html>

<script>
  import type { Theme } from "../components/navbar/toggle-theme";

  window
    .matchMedia("(prefers-color-scheme: dark)")
    .addEventListener("change", ({ matches }) => {
      if (matches) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    });

  const theme = localStorage.getItem("theme") as Theme | undefined;
  if (theme && theme !== "auto") {
    if (theme === "dark") document.documentElement.classList.add("dark");
  } else {
    const { matches: darkTheme } = window.matchMedia(
      "(prefers-color-scheme: dark)"
    );
    if (darkTheme) document.documentElement.classList.add("dark");
  }
</script>
